.bandSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h5{
   font-style: oblique;
}

.tourSection p.italic{
    color: white;
    font-style: italic;
}

span.italic{
    font-style: italic;
}

.bandDescription{
    font-size: 1.1rem;
    text-align: center;
}

.membersSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tourSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    background-color: rgb(48, 48, 48);
    width: 100%;
}

.tourSection h3{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
}

.contattiSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    width: 100%;
}

.footerStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgb(48, 48, 48);
    text-align: center;
}
.rounded-circle:hover {
    opacity: 0.8;

  }
